@model WeatherForecast.Models.DayModel

@{
    ViewBag.Title = "SearchForecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hourly weather forecast for day</h2>
<p>

</p>
<table class="table table-bordered">
    <tr>
        <td>City</td>
        <td>@Model.city.name</td>
        <td>Country</td>
        <td>@Model.city.country</td>
        <td>Coordinates</td>
        <td>[@Model.city.coord.lat</td>
        <td>@Model.city.coord.lon]</td>
    </tr>
    <tr>
        <td>Time of data forecasted</td>
        <td></td>
        <td></td>
        <td>Temperatre</td>
        <td>Atmospheric pressure</td>
        <td>Humidity</td>
        <td>Wind speed</td>
        <td>Cloudiness</td>
    </tr>
    @foreach (var item in Model.list)
    {
        <tr>
            <td>@item.date.ToShortTimeString()</td>
            <td><img src="~/Content/img/@item.weather.First().icon-.ico" height="64"></td>
            <td>@item.weather.First().description</td>
            <td>@item.main.temp</td>
            <td>@item.main.pressure hpa</td>
            <td>@item.main.humidity%</td>
            <td>@item.wind.speed m/s Direction:@item.wind.deg</td>
            <td>@item.clouds.all%</td>
        </tr>
    }
</table>
