@model WeatherForecast.Models.WeekModel

@foreach (var item in @Model.list)
{
    <tr>
        <td>@item.date.ToShortTimeString()</td>
        <td><img src="~/Content/img/@item.weather.First().icon-.ico" height="64"></td>
        <td>@item.weather.First().description</td>
        <td>@item.temp.day</td>
        <td>@item.pressure hpa</td>
        <td>@item.humidity%</td>
        <td>@item.speed m/s Direction:@item.deg</td>
        <td>@item.clouds%</td>
    </tr>
}