@model WeatherForecast.Models.WeekModel

@{
    ViewBag.Title = "SearchForecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weather forecast for @Model.cnt days</h2>
<p>
    <button type="button" class="btn btn-info">
        @Html.ActionLink("Add city to favourites", "AddFavourite", "Home", new { name = Model.city.name, id = Model.city.id }, null)
    </button>
</p>
<table class="table table-bordered">
    <tr>
        <td>City</td>
        <td>@Model.city.name</td>
        <td>Country</td>
        <td>@Model.city.country</td>
        <td>Coordinates</td>
        <td>[@Model.city.coord.lat @Model.city.coord.lon]</td>
    </tr>

    @foreach (var item in Model.list)
    {
        <tr style="background-color:silver">
            <td>@item.date.ToShortDateString()</td>
            <td><img src="~/Content/img/@item.weather.First().icon-.ico" height="64"></td>
            <td>@item.weather.First().description</td>
            <td style="color:blue;">@item.temp.min C</td>
            <td style="color:red;">@item.temp.max C</td>
            <td></td>
        </tr>
        <tr>
            <td>Morning temperature</td>
            <td>@item.temp.morn C</td>
            <td>Humidity</td>
            <td>Atmospheric pressure</td>
            <td>Wind speed</td>
            <td>Cloudiness</td>
        </tr>
        <tr>
            <td>Day temperature</td>
            <td>@item.temp.day C</td>
            <td>@item.humidity%</td>
            <td>@item.pressure hpa</td>
            <td>@item.speed m/s</td>
            <td>@item.clouds%</td>
        </tr>
        <tr>
            <td>Evening temperature</td>
            <td>@item.temp.eve C</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Night temperature</td>
            <td>@item.temp.night C</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>
