@model WeatherForecast.Models.WeekModel

@{
    ViewBag.Title = "SearchForecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weather forecast for @Model.cnt days</h2>

<p>
   
</p>
<table class="table table-bordered">
    <tr>
        <td>City</td>
        <td>@Model.city.name</td>
        <td>Country</td>
        <td>@Model.city.country</td>
    </tr>
    <tr>
        <td>Coordinates</td>
        <td>[@Model.city.coord.lat  @Model.city.coord.lon]</td>
    </tr>

    @foreach (var item in Model.list)
    {
        <tr><td></td></tr>
        <tr>
            <td>Time of data forecasted</td>
            <td>Min daily temperature</td>
            <td>Max daily temperature</td>
            <td>@item.weather.First().description</td>
            <td><img src="~/Content/img/@item.weather.First().icon-.ico" height="64"></td>
        </tr>
        <tr>
            <td>@item.date</td>
            <td>@item.temp.min</td>
            <td>@item.temp.max</td>
            <td>Cloudiness</td>
            <td>@item.clouds</td>
        </tr>
        <tr></tr>
        <tr>
            <td>Morning temperature</td>
            <td>@item.temp.morn</td>
            <td></td>
            <td>Atmospheric pressure</td>
            <td>@item.pressure</td>
        </tr>
        <tr>
            <td>Day temperature</td>
            <td>@item.temp.day</td>
            <td></td>
            <td>Humidity</td>
            <td>@item.humidity%</td>
        </tr>
        <tr>
            <td>Evening temperature</td>
            <td>@item.temp.eve</td>
            <td></td>
            <td>Wind speed</td>
            <td>@item.speed</td>
        </tr>
        <tr>
            <td>Night temperature</td>
            <td>@item.temp.night</td>
            <td></td>
            <td>Wind direction</td>
            <td>@item.deg</td>
        </tr>
    }
</table>
